#root {
	-fx-padding: 10px;
	-fx-background-image: url("/main/resources/images/ocean.jpg");
    -fx-background-size: stretch;
}

#title {
	-fx-padding: 10px;
	-fx-font-size: 24px;
	-fx-font-weight: bold;
}
#feedback{
	 -fx-background-color: rgba(255, 255, 255, 0.6);
}
.list-cell { -fx-background-color: transparent; /* 1 */ }

.list-cell:selected:focused, .task-cell:filled:selected {
  -fx-background-color: #82BA82;
  
}
#tasksDisplay {
	-fx-background-color: transparent;
}

#tasksDisplay.list-cell {
	-fx-background-color: transparent;
}

/* Hide horizontal scrollbars */
#tasksDisplay .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-padding: -7;
}

/* Hide vertical scrollbars */
#tasksDisplay  .scroll-bar:vertical {
    -fx-opacity: 0;
    -fx-padding: -7;
}

.list-cell 
{
  -fx-font: 7pt "Arial";
}

.tasksItem {
	-fx-padding: 2px;
}

.cardBg {
	/* https://docs.oracle.com/javase/8/javafx/api/javafx/scene/doc-files/cssref.html#typeeffect */
	/* -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 5, 0, 0, 2); */
	
}

.card {
	-fx-padding: 14px;
	-fx-background-color: rgba(255, 255, 255, 0.5);
	-fx-border-color : transparent;
}

.card .text {
	-fx-padding: 0 0 0 16px;  /* top, right, bottom, and left  */
}

.card .filename {
	-fx-font-size: 16px;
	-fx-font-weight: bold;
}

.card .date {
	-fx-background-color:
        -fx-focus-color,
        -fx-control-inner-background,
        -fx-faint-focus-color,
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
}

.card .circle {
	-fx-fill: white;
}

.card .stackpane {
	-fx-background-color: black;
}

.card .percentage {
	-fx-font-size: 14px;
	-fx-font-weight: bold;
	-fx-stroke-width: 0;
}