#root {
	-fx-padding: 10px;
	-fx-background-color: rgba(255, 255, 255, 0.3);
	-fx-background-image: url("/main/resources/images/vintage.jpg");
    -fx-background-size: stretch;
}
#emptyTable {
	-fx-padding: 10px;
	 -fx-background-color: rgba(255, 255, 255, 0.6);
}
#title {
	-fx-padding: 10px;
	-fx-font-size: 24px;
	-fx-font-weight: bold;
}

.list-cell { -fx-background-color: transparent; /* 1 */ }

.list-cell:selected:focused, .task-cell:filled:selected {
  -fx-background-color: #82BA82;
  
}
#tasksDisplay {
	-fx-background-color: transparent;
}

#tasksDisplay.list-cell {
	-fx-background-color: transparent;
}

/* Hide horizontal scrollbars */
#tasksDisplay .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-padding: -7;
}

/* Hide vertical scrollbars */
#tasksDisplay  .scroll-bar:vertical {
    -fx-opacity: 0;
    -fx-padding: -7;
}

.list-cell 
{
  -fx-font: 7pt "Arial";
}

.tasksItem {
	-fx-padding: 2px;
}

.cardBg {
	/* https://docs.oracle.com/javase/8/javafx/api/javafx/scene/doc-files/cssref.html#typeeffect */
	/* -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 5, 0, 0, 2); */
	
}

.card {
	-fx-padding: 14px;
	-fx-background-color: rgba(255, 255, 255, 0.6);
	-fx-border-color : transparent;
}

.card .text {
	-fx-padding: 0 0 0 16px;  /* top, right, bottom, and left  */
}

.card .filename {
	-fx-font-size: 16px;
	-fx-font-weight: bold;
}

.card .date {
	-fx-background-color:
        -fx-focus-color,
        -fx-control-inner-background,
        -fx-faint-focus-color,
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
}

.card .circle {
	-fx-fill: white;
}

.card .stackpane {
	-fx-background-color: black;
}

.card .percentage {
	-fx-font-size: 14px;
	-fx-font-weight: bold;
	-fx-stroke-width: 0;
}

.bad{
	-fx-background-color: red,linear-gradient(to bottom, derive(red,60%) 5%,derive(red,90%) 40%);
}
.med{
	-fx-background-color: black,rgba(255, 255, 255, 0.8);
}
.good{
	-fx-background-color: orange,linear-gradient(to bottom, derive(orange,60%) 5%,derive(orange,90%) 40%);
}
.best{
	-fx-background-color: green,linear-gradient(to bottom, derive(green,60%) 5%,derive(green,90%) 40%);
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
 /* -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /* overriden as 5 2 0 0 */
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    
-fx-background-color: #3c3c3c;
}

.tab-pane .tab:selected
{
   -fx-background-color: #e6e6e6;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
 
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #96b946;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
   -fx-text-fill: #828282;
}
